<div class="modal-header">
    <h4 class="modal-title pull-left">Add Group</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="formGroup">
        <div class="mb-3">
          <label for="groupName" class="form-label">Name of the Group</label>
          <input type="text" id="groupName" class="form-control" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="groupDescription" class="form-label">Description</label>
          <input type="text" class="form-control" id="groupDescription" formControlName="description">
        </div>
      </form>
</div>
<div class="modal-footer">
    <button type="cancel" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="createGroup()">Create</button>
</div>