@import "/src/colors.scss";

.expense-actions {
  padding: 10px;
  //   border-bottom: 0.1px solid $borderColor;
}

.expense-list {
  overflow-y: auto;
  padding: 10px;

  .expense-list-item {
    .p-10 {
      padding: 10px !important;
    }
    .date {
      margin-right: 10px;
    }
  }
}

.dropdown-menu.show {
  display: block !important;
  transform: translateX(-150px) translateY(-50px) !important;
}

.options-more {
  margin-top: 10px;
  margin-left: 10px;
}
