@import '/src/colors';

.header {
  padding: 10px 16px;
  background-color: rgba(102, 97, 210, 0.4) !important;

  .description {
    font-size: 12px;
    max-width: 200px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    word-break: normal;
    white-space: nowrap;
  }
}

.body {
  ul {
    list-style: none;
    border-bottom: 1px solid $borderColor;

    li {
      margin: 0 5px;
      padding: 10px 8px;

      a {
        text-decoration: none;
      }
    }

    .active {
      border-bottom: 2px solid $primaryColor;
    }
  }
}
