@import "./colors";
@import 'ngx-toastr/toastr';


/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
}

.margin-clear {
  margin: 0;
}

.padding-clear {
  padding: 0;
}

.text-link {
  cursor: pointer;
  text-decoration: none;
  color: $primaryColor;
}

.p-10 {
  padding: 10px;
}

.px-16 {
  padding: 0 16px;

}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mx-10 {
  margin: 0 10px;
}

.mr-auto {
  margin-right: auto;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.my-auto {
  margin: auto 0;
}

.fs-xl {
  font-size: x-large;
}

.fs-smaller {
  font-size: smaller;
}

.mt-1 {
  margin-top: 1px !important;
}

.text-align-right {
  text-align: right;
}

.color-red {
  color: var(--bs-red) !important;
}

.color-green {
  color: var(--bs-green) !important;
}

.user-image-32 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: $primaryColor;
  color: white;
}

typeahead-container {
  width: 80% !important;
  .dropdown-menu {
    min-width: 80% !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.badge {
  color: $primaryColor;
  border: 1px solid $primaryColor;
  padding: 2px 4px;
  border-radius: 3px;
}

.w-200px {
  width: 200px;
}

.field-required::after {
  content: "*";
  color: red;
  margin-left: 2px;
}

.fs-12 {
  font-size: 12px;
}

.no-gutters {
  padding: 0 !important;
}