@import "./colors";

/* You can add global styles to this file, and also import other style files */
body {
  height: 100vh;
}

.margin-clear {
  margin: 0;
}

.padding-clear {
  padding: 0;
}

.text-link {
  cursor: pointer;
  text-decoration: none;
  color: $primaryColor;
}

.p-10 {
  padding: 10px;
}
