<div class="nav-header">
</div>
<div class="nav-menu">
    <div class="logo-container"></div>

    <ul>
        <!-- <li routerLinkActive="linkActive">
            <a routerLink="expenses" >
                <span class="bi bi-people-fill"></span>
                <span class="nav-text">Expenses</span>
            </a>
        </li> -->
        <li routerLinkActive="linkActive">
            <a routerLink="groups" >
                <span class="bi bi-people-fill"></span>
                <span class="nav-text">Groups</span>
            </a>
        </li>
        <li routerLinkActive="linkActive">
            <a routerLink="friends" >
                <span class="bi bi-people-fill"></span>
                <span class="nav-text">Friends</span>
            </a>
        </li>

    </ul>
</div>
<div class="page-layout">
    <router-outlet></router-outlet>
</div>