<div class="nav-header">
    <div class="d-flex justify-content-end align-items-center h-100-per mr-10">
        <app-user-profile-button [user]="user" *ngIf="user"></app-user-profile-button>
    </div>
    
</div>
<div class="nav-menu">
    <div class="logo-container"></div>

    <ul *ngIf="isUserLoaded">
        <!-- <li routerLinkActive="linkActive">
            <a routerLink="expenses" >
                <span class="bi bi-people-fill"></span>
                <span class="nav-text">Expenses</span>
            </a>
        </li> -->
        <li routerLinkActive="linkActive">
            <a routerLink="groups" >
                <span class="bi bi-people-fill"></span>
                <span class="nav-text">Groups</span>
            </a>
        </li>
        <li routerLinkActive="linkActive">
            <a routerLink="friends" >
                <span class="bi bi-people-fill"></span>
                <span class="nav-text">Friends</span>
            </a>
        </li>

    </ul>
</div>
<div class="page-layout">
    <router-outlet></router-outlet>
</div>